.header{
  height: 150px;
  background-color: #f5f5f5;
  /* border: 2px solid red; */
}
.header .navbar{
  height: 85px;
  /* border: 2px solid green; */
  background-color: #fff;
}
.navbar-collapse .nav-item{
  margin-top: 15px;
  padding: 20px;
  /* margin-left: 10px; */
}
.navbar-collapse .marginright{
  margin-left: 20px;
}

@media screen and (min-width:768px){
  .navbar-brand-centered {
      position: absolute;
      left: 40%;
      display: block;
      width: 160px;
  }

  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
  }
}

.back a:hover{
  display: inline-block;
  color:#fff;
  background-color: black;
}
.expand::selection{
  border: none;
}
